$width : 639px;
$width1 : 640px;
$width2 : 1199px;

@media screen and (max-width: $width) {

    .lc {
        width: 100% !important;

        #lc2a {
            display: none !important;
        }
    }

    .rc {
        width: 100% !important;

        .img2 {
            img {
                width: 100% !important;
                object-fit: cover;
            }

        }

    }

    #lc2b {
        display: block !important;
    }

}

@media screen and (min-width: $width1) and (max-width: $width2) {
    .lc {

        width: 100% !important;
        .lc1{
            width: 100% !important;
        }

        #lc2a {
            display: none !important;
        }
    }

    .rc {
        width: 60% !important;

    
            .img2 {
                width: 100% !important;
                object-fit: cover;
            }

        

    }

    #lc2b {
        display: block !important;
    }

}