body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 700;
}

section {
    width: 720px;
    margin: auto;
    margin-left: 10px;
}

@mixin buttonstyles {
    border-radius: 40px;
    background-color: #58D68D;
    color: #fff;
    width: fit-content;
    padding: 10px 30px;

    span {
        font-weight: 600;
    }

}

.container {
    .content {
        display: flex;
        width: 100%;

        .left_container {
            padding: 0%;
            width: 60%;

            .logo {
                width: 150px;
            }

            .cyberfortify1 {
                margin-top: 15px;
                display: block;
                width: 100%;
            }

            h1 {
                font-weight: 700;
            }

            p {
                font-weight: 400;
            }

            .readGartner {
                @include buttonstyles;

            }

        }

        .right_container {
            width: 50%;
            display: none;

            .cyberfortify2 {
                width: 90%;
                padding: 10px;
            }
        }
    }
}

// Mobile View

@media screen and (max-width: 639px) {

    section {
        width: auto;
        margin: auto;
        padding-top: 15px;
    }

    .container {
        .content {
            .left_container {
                text-align: center;
                width: 100%;

                .cyberfortify1 {
                    display: block;
                    width: 100%;
                    height: 40vh;

                }

                p {
                    padding: 1%;
                    margin-left: 1%;
                    width: 90%;
                    text-align: center;
                    font-family: Arial;

                }

                .readGartner {
                    @include buttonstyles;

                }
            }

            .right_container {
                display: none;
            }

        }
    }
}

// Tablet Landscape View
@media screen and (min-width: 960px) {
    section {
        width: 936px;
        margin: auto;
        padding-top: 150px;
    }

    .container {
        .content {
            .left_container {
                width: 50%;

                .logo {
                    width: 150px;
                }

                .cyberfortify1 {
                    display: none;
                }

                h1 {
                    margin-bottom: 10px;
                }

                p {
                    width: 60%;
                    margin-bottom: 25;
                }

                .readGartner {
                    @include buttonstyles;

                }
            }

            .right_container {
                display: block;

                .cyberfortify2 {
                    display: block;
                }
            }
        }
    }
}

// Desktop View

@media screen and (min-width:1200px) {
    section {
        width: 1140px;
        margin: auto;
        padding-top: 125px;
    }

    .container {
        .content {
            .left_container {
                width: 50%;

                .logo {
                    width: 150px;
                }

                h1 {
                    margin-bottom: 10px;
                }

                p {
                    width: 70%;
                    margin-bottom: 25;
                }

                .readGartner {
                    @include buttonstyles;

                }
            }

            .right_container {
                width: 50%;

                .cyberfortify2 {
                    width: 100%;
                }
            }
        }
    }
}